---
layout: default
---
<main class="page-content">
  {% include header.html %}

  <div>

    <div class="about-top">
      <img src="https://drive.google.com/uc?export=view&id=1K8T-IeN2jLdxcNv0eXGlX3IqbOUl6TS9"  class="about-authorpic">
      <h1 class="about-text">{{site.author-name}}</h1>
      <h2 class="about-text">Technical Artist</h2>
      <h4 class="about-text">Birmingham, United Kingdom</h4>
    </div>

    <div class="about-body">
      <p class="about-body-text">Technical artist @ Codemasters.<br>
        Specialising in Shaders, Tools and Proceduralism.<br>
        Feel free to get in touch with me through Email, Twitter or LinkedIn!</p>

      <div class="author_social">
        <div  class="about-body-text">
          <span class="author_email"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{site.email}}" class="about-body-text-link">{{site.email}}</a></span>
          <span class="author_website"><i class="fa fa-link" aria-hidden="true"></i> <a href="{{site.website}}" target="_blank" class="about-body-text-link">{{site.website}}</a></span>         
        </div>
      </div>

      <section class="recent_box">
        <div class="post_wrapper">
          <div class="recent_list">
            {% for post in site.posts offset:0 limit:9 %}
                <a href="{{ post.url | prepend: site.baseurl }}"
                  class="recent_item"
                  style="background-image: url( {{post.img}} )">
                    <span>{{ post.title }}</span>
                </a>
            {% endfor %}
          </div>
        </div>
      </section>

    </div>

  </div>
    
    {% include footer.html %}
  </main>
