---
layout: default
---
  {% include header.html %}

  <main class="page-content" aria-label="Content">
    <div class="image_row_3">
      <div class="image_column_2">

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1wEJw3lXQyrSMu1d5fdM_gHNmZM9WTluD"/>
          <a class="text_link" href="../art_mines">Soviet Mines</a>
        </div>
        
        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1O3QeMmY0YxiLK22gre5zkuKIJsfSIuRL"/>
          <a class="text_link" href="../art_library">Modular Library</a>
        </div>

      </div>
      <div class="image_column_2">

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1WO6BB2c1-wSOaEavW-AvPv0ni9GChP0C"/>
          <a class="text_link" href="../art_brothel">Victorian Brothel</a>
        </div>
        
        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1Rchu5MvP3JcZxO4Ryy55ryAQGZwgC3Ta"/>
          <a class="text_link" href="../art_forest">Forest Campsite</a>
        </div>

      </div>
    </div>
  </main>

  {% include footer.html %}
