---
layout: default
---
  {% include header.html %}

  <main class="page-content" aria-label="Content">
    <div class="image_row_3">
      <div class="image_column_3">

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1zuBD6LTtom6ZnoEp-5oYTmHbjT9vR57u"/>
          <a class="text_link" href="../tech_shader_iridescent/index.html">Iridescent Shader</a>
        </div>

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1PSDJGoJ6gbbU-aCB2YtT3k_VscYSbKQ6"/>
          <a class="text_link" href="../tech_tools_procedural_placement/index.html">Procedural Asset Placement</a>
        </div>

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1OjGdXKF8vshJGc6RcV4akFOWIUE2gSSF"/>
          <a class="text_link" href="../tech_tools_spline/index.html">Spline Tools</a>
        </div>

      </div>

      <div class="image_column_3">

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1x13YqKEwnpaI6UQ2n6Gz-QokzoVYqebp"/>
          <a class="text_link" href="../tech_shader_gerstner/index.html">Ocean Rendering</a>
        </div>

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1nLtmK9lVVZGpuyl-igpM6CZxycxsIXjr"/>
          <a class="text_link" href="../tech_environment_desert/index.html">Desert Tech Environment</a>
        </div>

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1JTHENdZhPH4qnLoqmlNTVqxWhoVj2D_5"/>
          <a class="text_link" href="../tech_vfx/index.html">VFX / Shaders</a>
        </div>
        
      </div>

      <div class="image_column_3">

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1P8UyUsCS6_tIWEiQaofz8zd5hfWvsWyA"/>
          <a class="text_link" href="../tech_environment_volcano/index.html">Procedural Terrain</a>
        </div>

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1OciWhmJ8HM4g1M0eV1A-HZZsHoRAW6_2"/>
          <a class="text_link" href="../tech_shader_fuzz/index.html">Microfibre Surfaces</a>
        </div>

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1EU1EWRCN0E4Cv4UfRgE0S06F4EZK-stQ"/>
          <a class="text_link" href="../tech_shader_clouds/index.html">Volumetric Clouds Shader</a>
        </div>
      
    </div>
  </main>

  {% include footer.html %}
