---
layout: splash
title: "Bailey Martin - Technical Art"
banner_title: "Hi - I'm Bailey,"
excerpt: "Technical artist in Games. Specialising in Pipeline Development, Realtime Shaders, and Procedural Tooling."
header:
  overlay_image: /assets/images/banner.jpg
  actions:
    - label: "Resumé"
      url: "http://resume.bailey3d.com"

# Begin Shaders

shader_row:
    - image_path: https://github.com/Bailey3D-Website/2021/blob/main/projects/Iridescent/thumb.png?raw=true
      title: "Iridesecense Shader"
      url: "../tech_shader_iridescent"
      btn_class: "btn--primary"
      btn_label: "View Post"

    - image_path: https://github.com/Bailey3D-Website/2020/blob/main/projects/Gerstner%20Waves/thumb.gif?raw=true
      title: "Ocean Shader"
      url: "../tech_shader_gerstner"
      btn_class: "btn--primary"
      btn_label: "View Post"

    - image_path: https://github.com/Bailey3D-Website/2021/blob/main/projects/Cloth%20Shading/thumb.png?raw=true
      title: "Cloth Shader"
      url: "../tech_shader_cloth"
      btn_class: "btn--primary"
      btn_label: "View Post"

    - image_path: https://github.com/Bailey3D-Website/2019/blob/main/projects/Microfibre%20Shader/thumb.png?raw=true
      title: "Microfibre Shader"
      url: "../tech_shader_fuzz"
      btn_class: "btn--primary"
      btn_label: "View Post"

    - image_path: https://github.com/Bailey3D-Website/2020/blob/main/projects/Volumetric%20Clouds/thumb.jpg?raw=true
      title: "Volumetric Clouds"
      url: "../tech_shader_clouds"
      btn_class: "btn--primary"
      btn_label: "View Post"

tools_row:

    - image_path: https://github.com/Bailey3D-Website/2021/blob/main/projects/Juniper/juniper.png?raw=true
      title: "Juniper - Tools Framework"
      url: "https://github.com/Juniper3d/Juniper"
      new_tab: "True"
      btn_class: "btn--primary"
      btn_label: "View Post"

    - image_path: https://github.com/Bailey3D-Website/2021/blob/main/projects/Houdini%20Roots/thumb.gif?raw=true
      title: "Tree Root Generation [Houdini]"
      url: "../tech_tools_roots_generator"
      btn_class: "btn--primary"
      btn_label: "View Post"

    - image_path: https://github.com/Bailey3D-Website/2021/blob/main/projects/HLSL%20Library/thumb.png?raw=true
      title: "HLSL Shader Library In Unreal"
      url: "../tech_tools_ue4_shader_tools"
      btn_class: "btn--primary"
      btn_label: "View Post"

    - image_path: https://github.com/Bailey3D-Website/2021/blob/main/projects/Exporters/thumb.png?raw=true
      title: "Asset Import / Export Tools"
      url: "../tech_tools_asset_library_import_export"
      btn_class: "btn--primary"
      btn_label: "View Post"

    - image_path: https://github.com/Bailey3D-Website/2021/blob/main/projects/Houdini%20Drop/thumb.png?raw=true
      title: "Drop To Terrain [Houdini]"
      url: "../tech_tools_houdini_drop"
      btn_class: "btn--primary"
      btn_label: "View Post"

    - image_path: https://github.com/Bailey3D-Website/2019/blob/main/projects/Spline%20Tools/thumb.gif?raw=true
      title: "Procedural Asset Placement"
      url: "../tech_tools_procedural_placement"
      btn_class: "btn--primary"
      btn_label: "View Post"

# Environments

art_row:

    - image_path: https://github.com/Bailey3D-Website/2020/blob/main/projects/Desert/thumb.gif?raw=true
      title: "Desert Diorama"
      url: "../tech_environment_desert"
      btn_class: "btn--primary"
      btn_label: "View Post"

    - image_path: https://github.com/Bailey3D-Website/2019/blob/main/projects/Soviet%20Mines/thumb.png?raw=true
      title: "Soviet Mines"
      url: "../art_mines"
      btn_class: "btn--primary"
      btn_label: "View Post"

    - image_path: https://github.com/Bailey3D-Website/2019/blob/main/projects/Brothel/thumb.jpg?raw=true
      title: "Victorian Brothel"
      url: "../art_brothel"
      btn_class: "btn--primary"
      btn_label: "View Post"

    - image_path: https://github.com/Bailey3D-Website/2019/blob/main/projects/Forest/thumb.gif?raw=true
      title: "Campsite Diorama"
      url: "../art_forest"
      btn_class: "btn--primary"
      btn_label: "View Post"

    - image_path: https://github.com/Bailey3D-Website/2019/blob/main/projects/Library/thumb.jpg?raw=true
      title: "Library Environment"
      url: "../art_library"
      btn_class: "btn--primary"
      btn_label: "View Post"

    - image_path: https://github.com/Bailey3D-Website/2020/blob/main/projects/Volcano/thumb.gif?raw=true
      title: "Volcano Diorama"
      url: "../tech_environment_volcano"
      btn_class: "btn--primary"
      btn_label: "View Post"

---

<a name="Tools"><h1>Tools<hr></h1></a>
{% include tools_row %}

<a name="Shaders"><h1>Shaders<hr></h1></a>
{% include shader_row %}

<a name="Art"><h1>Art<hr></h1></a>
{% include art_row %}