---
layout: default
---
  {% include header.html %}

  <main class="page-content" aria-label="Content">
    <div class="image_row_3">
      <div class="image_column_3">

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1rfctDQI929Ci08FlO6e3F34OvEcuJjeQ"/>
          <a class="text_link" href="../tech_shader_cloth/index.html">Cloth Rendering <br><i><small>[Shader]</small></i></a>
        </div>

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1mAeN8qpLeqQiVgt2BVyGek4BIzNVO1-f"/>
          <a class="text_link" href="../tech_tools_procedural_placement/index.html">Procedural Assets <br><i><small>[UE4 Tools]</small></i></a>
        </div>

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=15EFnDyBj4xX6gk_dALCu67T0HA-r2n-N"/>
          <a class="text_link" href="../tech_environment_volcano/index.html">Volcano Environment<br><i><small>[Technical Showcase]</small></i></a>
        </div>

      </div>

      <div class="image_column_3">

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1KzGQbvWD3G94fyMGG20iUi9RJM4pM_gw"/>
          <a class="text_link" href="../tech_shader_gerstner/index.html">Ocean Rendering <br><i><small>[Shader]</small></i></a>
        </div>

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1abXDTO1qtY6KGTnVR5cjJTZqPfuV6gI8"/>
          <a class="text_link" href="../tech_environment_desert/index.html">Desert Environment <br><i><small>[Technical Showcase]</small></i></a>
        </div>

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1HhMoczF5WPbEPMvaRYjygAn4mTnrfshq"/>
          <a class="text_link" href="../tech_vfx/index.html">Other Stuff<br><i><small>[VFX / Shader]</small></i></a>
        </div>
        
      </div>

      <div class="image_column_3">

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=14lWW-bjMLun1B9nfgudqaTUJoGlULkDh"/>
          <a class="text_link" href="../tech_shader_iridescent/index.html">Iridescence <br><i><small>[Shader]</small></i></a>
        </div>

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1GBW6eXZFaRNyCTDbxGa1-V7Ladtel6LJ"/>
          <a class="text_link" href="../tech_shader_fuzz/index.html">Microfibre Surfaces <br><i><small>[Shader]</small></i></a>
        </div>

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1Zjphvxo4bhM_sNVoPGTYjbPHOrVyBd1a"/>
          <a class="text_link" href="../tech_shader_clouds/index.html">Volumetric Clouds <br><i><small>[Shader]</small></i></a>
        </div>
      
    </div>
  </main>

  {% include footer.html %}
