---
layout: default
---
  {% include header.html %}

  <main class="page-content" aria-label="Content">
    <div class="image_row_3">
      <div class="image_column_3">

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1UuWWTNQHHzaLGBqukGXgtzit7zrOb2HW"/>
          <a class="text_link" href="../tech_shader_iridescent/index.html">Iridescent Shader</a>
        </div>

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1JccX7pjQEnh6m0dsE_cUnZ9Qxtxuzjx9"/>
          <a class="text_link" href="../tech_tools_procedural_placement/index.html">Procedural Asset Placement</a>
        </div>

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1jdNNlb7KgrZq--AYXUum9BJUR5j9Dnfa"/>
          <a class="text_link" href="../tech_tools_spline/index.html">Spline Tools</a>
        </div>

      </div>

      <div class="image_column_3">

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1-IjSPnDObGqy4UDuhv7LE0fOOmBGth8o"/>
          <a class="text_link" href="../tech_shader_gerstner/index.html">Ocean Rendering</a>
        </div>

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1qDKzjfn4EEOs4NTvnXCXqtFn_MCAofDO"/>
          <a class="text_link" href="../tech_environment_desert/index.html">Desert Tech Environment</a>
        </div>

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1ICy-Cqt3cWycRTF7gCeAT2CVhsF_Htvr"/>
          <a class="text_link" href="../tech_vfx/index.html">VFX / Shaders</a>
        </div>
        
      </div>

      <div class="image_column_3">

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1AWXSwbbssAqEzC5Q4Q-wZG12BH36Yc44"/>
          <a class="text_link" href="../tech_environment_volcano/index.html">Procedural Terrain</a>
        </div>

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1JavYvTuMGmo0aDWB6yTVEns_wxWxLE8_"/>
          <a class="text_link" href="../tech_shader_fuzz/index.html">Microfibre Surfaces</a>
        </div>

        <div class="image_cell">
          <img src="https://drive.google.com/uc?export=view&id=1nQE3nFVEpLp7YBNaVChLp2VbstP5zpkx"/>
          <a class="text_link" href="../tech_shader_clouds/index.html">Volumetric Clouds Shader</a>
        </div>
      
    </div>
  </main>

  {% include footer.html %}
