<style>

    .splide
    {
        margin-bottom: 2px;
    }
    
    .splide__slide{
        background-color: rgb(0, 0, 0);
      display: inline-flex;  /* used for all slides vertical align center */
      vertical-align: middle; /* used for all slides vertical align center */
    }
    .splide__slide.is-active{
        transform: scale(1, 1); /* sets the active slide to scaling of 1 (100%) */
    }
    .splide__slide img {
        object-fit: contain;
    }
    </style>

{% assign images = "" | split: "|" %}

{% if include.img1 != nil %}{% assign temp_array = include.img1 | split: "|" %}{% assign images = images | concat: temp_array %}{% endif %}
{% if include.img2 != nil %}{% assign temp_array = include.img2 | split: "|" %}{% assign images = images | concat: temp_array %}{% endif %}
{% if include.img3 != nil %}{% assign temp_array = include.img3 | split: "|" %}{% assign images = images | concat: temp_array %}{% endif %}
{% if include.img4 != nil %}{% assign temp_array = include.img4 | split: "|" %}{% assign images = images | concat: temp_array %}{% endif %}
{% if include.img5 != nil %}{% assign temp_array = include.img5 | split: "|" %}{% assign images = images | concat: temp_array %}{% endif %}
{% if include.img6 != nil %}{% assign temp_array = include.img6 | split: "|" %}{% assign images = images | concat: temp_array %}{% endif %}
{% if include.img7 != nil %}{% assign temp_array = include.img7 | split: "|" %}{% assign images = images | concat: temp_array %}{% endif %}
{% if include.img8 != nil %}{% assign temp_array = include.img8 | split: "|" %}{% assign images = images | concat: temp_array %}{% endif %}
{% if include.img9 != nil %}{% assign temp_array = include.img9 | split: "|" %}{% assign images = images | concat: temp_array %}{% endif %}
{% if include.img10 != nil %}{% assign temp_array = include.img10 | split: "|" %}{% assign images = images | concat: temp_array %}{% endif %}
{% if include.img11 != nil %}{% assign temp_array = include.img11 | split: "|" %}{% assign images = images | concat: temp_array %}{% endif %}
{% if include.img12 != nil %}{% assign temp_array = include.img12 | split: "|" %}{% assign images = images | concat: temp_array %}{% endif %}
{% if include.img13 != nil %}{% assign temp_array = include.img13 | split: "|" %}{% assign images = images | concat: temp_array %}{% endif %}
{% if include.img14 != nil %}{% assign temp_array = include.img14 | split: "|" %}{% assign images = images | concat: temp_array %}{% endif %}
{% if include.img15 != nil %}{% assign temp_array = include.img15 | split: "|" %}{% assign images = images | concat: temp_array %}{% endif %}
{% if include.img16 != nil %}{% assign temp_array = include.img16 | split: "|" %}{% assign images = images | concat: temp_array %}{% endif %}
{% if include.img17 != nil %}{% assign temp_array = include.img17 | split: "|" %}{% assign images = images | concat: temp_array %}{% endif %}
{% if include.img18 != nil %}{% assign temp_array = include.img18 | split: "|" %}{% assign images = images | concat: temp_array %}{% endif %}
{% if include.img19 != nil %}{% assign temp_array = include.img19 | split: "|" %}{% assign images = images | concat: temp_array %}{% endif %}
{% if include.img20 != nil %}{% assign temp_array = include.img20 | split: "|" %}{% assign images = images | concat: temp_array %}{% endif %}
{% if include.img21 != nil %}{% assign temp_array = include.img21 | split: "|" %}{% assign images = images | concat: temp_array %}{% endif %}
{% if include.img22 != nil %}{% assign temp_array = include.img22 | split: "|" %}{% assign images = images | concat: temp_array %}{% endif %}


<section class="splide" id="{{ include.id }}-primary-slider" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
          <ul class="splide__list">
            {% for image in images %}
              <li class="splide__slide"><img src="{{ image }}" style="align-items: center;"></li>
            {% endfor %}
          </ul>
    </div>
</section>

<section class="splide" id="{{ include.id }}-secondary-slider">
    <div class="splide__track">
        <ul class="splide__list">
            {% for image in images %}
              <li class="splide__slide" style="background-color: rgba(0, 0, 0, 0);"><img src="{{ image }}"></li>
            {% endfor %}
        </ul>
    </div>
</section>

<script>
    $(document).ready(function(){
    var primarySlider = new Splide('#{{ include.id }}-primary-slider', {
        autoHeight: true,
        speed: 0,
        keyboard: true
    }).mount();
    var secondarySlider = new Splide('#{{ include.id }}-secondary-slider', {
        fixedWidth: 100,
        height: 60,
        gap: 2,
        cover: true,
        isNavigation: true,
        //focus: 'center',
        arrows: false,
        lazyLoad: true,
        keyboard: true,
        pagination: false,
        speed: 0.5,
        //breakpoints: {
        //    '600': {
        //        fixedWidth: 66,
        //        height: 40,
        //    }
        //},
    }).mount();

    primarySlider.sync(secondarySlider);
});
</script>