
<header class="main_header">
  <nav class="main_info">
    <img src="https://drive.google.com/uc?export=view&id=1vcMGa5Ze0y8AoxgRzjpvA09TDX6zzRSB" height=30 class="logo">
    <a href="{{site.baseurl}}/" class="text">{% if site.logo %}{{site.logo}}{% else %}B<span>ef</span>{% endif %}</a>
  </nav>
  <nav class="main_header_menu">
    <nav>
      <a href="{{site.baseurl}}/index/">Tech</a>
      <a href="{{site.baseurl}}/art/">Art</a>
      <a href="{{site.baseurl}}/blog/">Blog</a>
      <a href="{{site.baseurl}}/about/">About</a>
    </nav>
    <nav class="social_header">
        <a href="{{ site.linkedin_url }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="{{ site.twitter_url }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="{{ site.github_url }}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    </nav>
  </nav>
</header> <!-- End Section Header -->