<div class="column is-4-desktop is-6-tablet">
    <div class="card">
        <div class="card-image">
            <a href="{{ include.link }}">
                <img src="{{ include.image }}" alt="{{ include.title }}">
            </a>
        </div>
    
        <div class="card-content">
            <div class="content">
                <a class="title is-4" href="{{ include.link }}">{{ include.title}}</a>
                {% if include.summary %}
                    {{ include.summary | markdownify }}
                {% else if include.subtitle %}
                    {{ include.subtitle | markdownify }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
