<div class="columns is-multiline">

    {% 
      include image_card.html
      link="/docs/SketchIt/master_materials/hand_drawn"
      image="https://raw.githubusercontent.com/Bailey3D-Website/2021/main/packages/SketchIt/renders/Gifs/pencil.webp"
      title="Hand Drawn"
      summary="Includes: Pencil, Vintage, and Notepad"
    %}

    {% 
      include image_card.html
      link="/docs/SketchIt/master_materials/chalk_board"
      image="https://raw.githubusercontent.com/Bailey3D-Website/2021/main/packages/SketchIt/renders/Gifs/chalkboard.webp"
      title="Chalk Board"
      summary="Includes: Chalk Drawing, and Chalk Board"
    %}

    {%
        include image_card.html
        link="/docs/SketchIt/master_materials/schematic"
        image="https://raw.githubusercontent.com/Bailey3D-Website/2021/main/packages/SketchIt/renders/Gifs/schematic.webp"
        title="Schematic"
        summary="Includes: Graph Paper, and Schematic"
      %}

    {% 
      include image_card.html
      link="/docs/SketchIt/master_materials/charcoal"
      image="https://raw.githubusercontent.com/Bailey3D-Website/2021/main/packages/SketchIt/renders/Gifs/charcoal.webp"
      summary="Includes: Pastel, and Charcoal"
      title="Charcoal"
    %}

    {%
      include image_card.html
      link="/docs/SketchIt/master_materials/ink_pen"
      image="https://raw.githubusercontent.com/Bailey3D-Website/2021/main/packages/SketchIt/renders/Gifs/pen.webp"
      title="Ink Pen"
      summary="Includes: Byro, Ink, and Gel Pen"
    %}

</div>