---
layout: default
---
  {% include header.html %}

  <main class="page-content" aria-label="Content">
    <div class="image_row">
      <div class="image_column">
        <img class="image_cell" src="assets/blog/shader_iridescent/thumb.gif"/>
        <img class="image_cell" src="assets/blog/tech_library/thumb.gif"/>
        <img class="image_cell" src="assets/blog/tech_splinetools/thumb.gif"/>
      </div>
      <div class="image_column">
        <img class="image_cell" src="assets/blog/shader_gerstner/thumb.gif"/>
        <img class="image_cell" src="assets/blog/tech_desert/thumb.gif"/>
        <img class="image_cell" src="assets/blog/tech_fx/thumb.gif"/>
      </div>
      <div class="image_column">
        <img class="image_cell" src="assets/blog/environment_volcano/thumb.gif"/>
        <img class="image_cell" src="assets/blog/shader_fuzz/thumb.png"/>
        <img class="image_cell" src="assets/blog/shader_clouds/thumb.png"/>
      </div>
    </div>
  </main>

  {% include footer.html %}
