---
layout: splash
---

<main class="post_content">
  <article class="post">
    <header>
      <div class="post_image">
        <img src={{page.img}} alt="{{page.title}}">
      </div>
      <div class="post_description">
        <h1 class="post_title">{{page.title}}</h1>
      </div>
    </header> <!-- End Header -->

    <div class="entry_content">
      {{page.content | markdownify}}
    </div>
    
    <div class="post_wrapper">
      <footer class="post_footer cf">
        <div class="post_tag">
          <span>Tags:</span>
          {% for tag in page.tags %}
          <a class="tag">{{ tag }}</a>
          {% endfor %}
        </div>
      </footer>
    </div>
  </article> <!-- End Section Post -->
  
  <section class="author cf">
    <div class="post_wrapper">
      <div class="author_image">
        <img src="https://www.dropbox.com/s/7hwuagnv1zyty3v/B3D_Pic.jpg?raw=1" alt="Author face">
      </div>
      <div class="author_info">
        <h2 class="author_title">{% if site.name %}{{site.name}}{% endif %}</h2>
        <p class="author_subtitle">{% if site.summary %}{{site.summary}}{% endif %}</p>
        <div class="author_social">
          {% if site.email %}
          <span class="author_email"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{site.email}}">{{site.email}}</a></span>
          {% else %}
          <span class="author_email"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:contact@bailey3d.com">contact@bailey3d.com</a></span>
          {% endif %}         
        </div>
      </div>
    </div>
  </section> <!-- End Section Author -->

</main> <!-- End Section Post Content -->
