<div class="columns is-multiline">

    {%
      include image_card.html
      link="/docs/RetroFiltersPack/templates/crt_monitor"
      image="https://raw.githubusercontent.com/Bailey3D-Website/2021/main/packages/RetroFiltersPack/Images/Renders/crt/thumbs/crt_on_bleed.jpg"
      title="CRT Monitor"
    %}

    {% 
      include image_card.html
      link="/docs/RetroFiltersPack/templates/retro_console"
      image="https://raw.githubusercontent.com/Bailey3D-Website/2021/main/packages/RetroFiltersPack/Images/Renders/retro_console/thumbs/arcade_machine.jpg"
      title="Retro Console"
    %}

    {% 
      include image_card.html
      link="/docs/RetroFiltersPack/templates/pixelate"
      image="https://raw.githubusercontent.com/Bailey3D-Website/2021/main/packages/RetroFiltersPack/Images/Renders/pixelate/pixelate_on.jpeg"
      title="Pixelate"
    %}

    {% 
      include image_card.html
      link="/docs/RetroFiltersPack/templates/vhs"
      image="https://raw.githubusercontent.com/Bailey3D-Website/2021/main/packages/RetroFiltersPack/Images/Renders/vhs/vhs_on.webp"
      title="VHS Tape"
    %}

    {% 
      include image_card.html
      link="/docs/RetroFiltersPack/templates/vintage_film"
      image="https://raw.githubusercontent.com/Bailey3D-Website/2021/main/packages/RetroFiltersPack/Images/Renders/vintage_film/thumbs/vintage_film_on.jpg"
      title="Vintage Film"
    %}

    {% 
      include image_card.html
      link="/docs/RetroFiltersPack/templates/film_grain"
      image="https://raw.githubusercontent.com/Bailey3D-Website/2021/main/packages/RetroFiltersPack/Images/Renders/film_grain/thumbs/film_grain_on.jpg"
      title="Film Grain"
    %}

</div>